<ul class="nav justified bg-success text-dark" style="margin-top:10px">
  <% if (currentUser) { %>
  <li class="nav-item" style= "margin-right:10px; margin-left:10px">Welcome <strong><%= currentUser.username %> </strong></li>
  <li class="justify-right" >
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red" />
    </form>
  </li>
  <% } else { %>
  <li style= "margin-right:15px; margin-left:15px"><a style="color:black" href="/users/new">Sign Up</a></li>
  <li><a style="color:black" href="/sessions/new">Log In</a></li>
  <% } %>
</ul>
