<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="text-center">

    <div class=>

      <h1>Rides Index Page</h1>
      <button type="button" name="button">
        <a href="/rides/new">Add New Ride</a>
      </button>
    <table class="table">
      <% for (let ride of rides) { %>
      <thead>
        <tr>
          <th>Distance</th>
          <th>Top Speed</th>
        </tr>
      </thead>
        <tr>
          <td><%= ride.distance %></td>
          <td><%= ride.topSpeed %></td>
        </tr>
      <%}%>
      </table>



    </div>

  </body>
</html>
