<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <body>

    <div class="container">

      <h1>Rides Index Page</h1>
      <ul>
        <% for (let ride of rides) { %>
        <li>
          <a href="/rides/<%=ride._id%>">
            type:
            <% if(ride.type === true) {%>
            Sprint
            <% } else { %>
            Hillclimb
          <% } %>
          <%= ride.date %>
          <%= ride.distance %>
          <%= ride.topSpeed %>

        </li>
      <%}%>
      </ul>
      <button type="button" name="button">
        <a href="/rides/new">Add New Ride</a>
      </button>


    </div>

  </body>
</html>
