<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="text-center">

    <div class=>

      <h1>Rides Index Page</h1>
      <ul>
        <% for (let ride of rides) {
             %>
        <li>

          <a href="/rides/<%=ride._id%>">see ride</a>
          Distance: <%= ride.distance %><br>
          Top Speed: <%= ride.topSpeed %>

        </li>
      <%}%>
      </ul>
      <button type="button" name="button">
        <a href="/rides/new">Add New Ride</a>
      </button>


    </div>

  </body>
</html>
