<!DOCTYPE html>
<html>
    <head>
      <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <h1>New Rides page</h1>
        <form action="/rides" method="POST">
            Letter: <input type="text" name="letter" /><br>
            Distance: <input type="mongoose.Types.Decimal128" name="distance" /><br>
            Top Speed: <input type="mongoose.Types.Decimal128" name="topSpeed" /><br>
            <input type="submit" name="" value="Create Ride"/>
        </form>
    </body>
</html>
