<!DOCTYPE html>
<html>
    <head>
      <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <h1>New Rides page</h1>
        <form action="/rides" method="POST">
            <input style="display:none" name="username" value="<%=currentUser.username%>"><br>
            Time: <input type="mongoose.Types.Decimal128" name="time" placeholder="in seconds"/><br>
            Top Speed: <input type="mongoose.Types.Decimal128" name="topSpeed" placeholder="mph"/><br>
            <input type="submit" name="" value="Create Ride"/>
        </form>
    </body>
</html>
