<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Rides page</h1>
        <form action="/rides" method="POST">
            date: <input type="text" name="date" /><br/>
            Distance: <input type="number" name="distance" /><br/>
            Top Speed: <input type="number" name="topSpeed" /><br/>
            <input type="submit" name="" value="Create Ride"/>
        </form>
    </body>
</html>
