<!DOCTYPE html>
<html>
    <head>
      <%- include ('./partials/head.ejs') %>
    </head>
    <body style="background-color:teal">
      <div class="container" >
        <%- include ('./partials/nav.ejs') %>
        <h1>Add a new effort</h1>
          <form action="/rides" method="POST">
              <input style="display:none" name="username" value="<%=currentUser.username%>"><br>
              <div class="form-group">
                <label for="img">Link to verify:</label>
                <input type="text" name="imgVerify" required id="image" placeholder="url">
              </div>
              <div class="form-group">
                <label for="time">Time: </label>
                <input type="mongoose.Types.Decimal128" name="time" placeholder="in seconds"/>
              </div>
              <div class="form-group">
                <label for="topSpeed">Top Speed:</label>
                <input type="mongoose.Types.Decimal128" name="topSpeed" placeholder="mph"/>
              </div>
              <input style= "margin-top: 20px" type="submit" name="" value="Create Ride"/>
          </form>
      </div>
    </body>
</html>
