<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ride Show</h1>
    <%=ride.date%>
    <%=ride.distance%>
    <%=ride.topSpeed%>
    </html><button type="button" name="button"><a href="/rides/<%=ride._id%>/edit">Edit</a></button>
  </body>
